<p>
<table class="table table-striped">
	<thead>
	  <tr>
	    <th>#</th>
	    <th>Owner</th>
        <th>Creation</th>
        <th>Action(s)</th>
	  </tr>
	</thead>
	
	<tbody>
  <% for notebook in notebooks %>
    <tr>
      <td><%= link_to "Notebook ##{notebook.id}", notebook_path(notebook) %></td>
      <td><%= notebook.owner %></td>
      <td><%= time_ago_in_words(notebook.updated_at) %> ago</td>
      <td>
        <% if policy(notebook).destroy? %>
          <%= link_to notebook, method: :delete, data: { title: 'Are you sure?', 
                                                         confirm: "Remove notebook ##{notebook.id}?",
                                                         commit: 'Yes',
                                                         cancel: 'No, cancel' }, 
                  class: "d-inline btn btn-light btn-inverse btn-sm text-danger" do %>
            <i class="fa fa-close"></i> 
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
</p>


