[submodule "app/javascript/XDSMjs"]
	path = app/javascript/XDSMjs
	url = https://github.com/OneraHub/XDSMjs.git
[submodule "wop"]
	path = wop
	url = https://github.com/OneraHub/WhatsOpt-CLI.git
[submodule "doc"]
	path = doc
	url = https://github.com/OneraHub/WhatsOpt-Doc.git

