<h1>Users</h1> 

<table class="table table-striped" id="users">
  <tr>
    <th>Login</th>
    <th>Email</th>
    <th>Roles</th>
    <th>Last Login At</th>
  </tr>
  <% for user in @users %>
    <tr>
      <td><%= link_to user.login, user %></td>
      <td><%= user.email %></td>
      <td><%= (user.roles.map {|r| r.titleize }).join(", ") %></td>
      <td><%= user.last_sign_in_at %></td>
    </tr>
  <% end %>
</table>
