---
openapi: 3.0.1
info:
  title: WhatsOpt API
  version: v1
  contact:
    name: API Support
    email: remi.lafage@onera.fr
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://ether.onera.fr/whatsopt
  description: External production server
- url: https://selene.onecert.fr/whatsopt
  description: Internal production server
- url: http://rdri206h.onecert.fr/whatsopt
  description: Internal staging server
- url: http://endymion:3000
  description: Development server
- url: http://192.168.99.100:3000
  description: Docker development server
paths:
  "/api/v1/analyses/{id}":
    get:
      summary: Get an analysis
      tags:
      - Analyses
      security:
      - Token: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Analysis found
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  public:
                    type: boolean
                  created_at:
                    type: string
                    format: date-time
                required:
                - id
                - name
                - public
                - created_at
        '404':
          description: Analysis not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
components:
  schemas:
    Error:
      type: object
      properties:
        message:
          type: string
  securitySchemes:
    Token:
      type: apiKey
      in: header
      name: Authorization
      description: Enter your API key with the format **Token &lt;API key&gt;**
security:
- Token: []
externalDocs:
  description: Find out more on WhatsOpt
  url: http://github.com/OneraHub/WhatsOpt
