---
openapi: 3.0.2
info:
  title: WhatsOpt API
  version: v1
  contact:
    name: API Support
    email: remi.lafage@onera.fr
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
- url: https://ether.onera.fr/whatsopt
  description: External production server
- url: https://selene.onecert.fr/whatsopt
  description: Internal production server
- url: http://rdri206h.onecert.fr/whatsopt
  description: Internal staging server
- url: http://endymion:3000
  description: Development server
- url: http://192.168.99.100:3000
  description: Docker development server
paths:
  "/api/v1/analyses/{id}":
    get:
      summary: Get analysis information
      tags:
      - Analyses
      security:
      - Token: []
      parameters:
      - name: id
        in: path
        description: Analysis identifier
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Analysis found
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  public:
                    type: boolean
                  created_at:
                    type: string
                    format: date-time
                required:
                - id
                - name
                - public
                - created_at
        '404':
          description: Analysis not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        '401':
          description: Unauthorized access
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
  "/api/v1/meta_models/{id}":
    put:
      summary: Predict using the metamodel
      description: Compute y responses at given x points where x and y are matrices.
      tags:
      - MetaModels
      security:
      - Token: []
      parameters:
      - name: id
        in: path
        description: MetaModel identifier
        required: true
        schema:
          type: string
      responses:
        '200':
          description: y predictions at x points in matrix format (nx, nydim)
          content:
            application/json:
              schema:
                type: object
                properties:
                  y:
                    "$ref": "#/components/schemas/Matrix"
        '404':
          description: MetaModel not found
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                meta_model:
                  type: object
                  properties:
                    description: 'x points where to predict using matrix format (nx,
                      nxdim) <br/>                 where <strong>nx</strong> is the
                      number of points and <strong>nxdim</strong> the dimension of
                      x<br/>                 Each columns corresponds to the various
                      values of an input variables of the metamodel. <br/>                 For
                      one point x (x_1, x_2, ..., x_nxdim), x_* values consist of
                      input variables listed in *lexical order* <br/>                 When
                      a variable is multidimensional it should be expanded as variable''s
                      size scalar values<br/>                 (example: z of shape
                      (m, p, q) will expands in ''z[0]'', ''z[1]'', ..., ''z[m*p*q-1]'',
                      ''z[m*p*q]'' scalar values).'
                    x:
                      "$ref": "#/components/schemas/Matrix"
components:
  schemas:
    Error:
      type: object
      properties:
        message:
          type: string
    Matrix:
      description: list of row vectors
      type: array
      items:
        description: row vector
        type: array
        items:
          type: number
          format: double
  securitySchemes:
    Token:
      type: apiKey
      in: header
      name: Authorization
      description: Enter your API key with the format **Token &lt;API key&gt;**
security:
- Token: []
externalDocs:
  description: Find out more on WhatsOpt
  url: http://github.com/OneraHub/WhatsOpt
