<%= f.fields_for :attachment, Attachment.new, :child_index => "0" do |fattach| %>
  <!-- <%= fattach.file_field :data, class: "form-control" %> -->
  <div class="form-control-file">
    <label class="custom-file">
      <%= fattach.file_field :data, class: "custom-file-input", "data-toggle": "custom-file", "data-target":"#myfile" %>
      <span id="myfile" class="custom-file-control custom-file-name" data-content="Choose File..."></span>
    </label>
  </div>
<% end %>

<% content_for :document_ready do %>
  <script>
    // handle custom file inputs
    $('body').on('change', 'input[type="file"][data-toggle="custom-file"]', function (ev) {

      const $input = $(this);
      const target = $input.data('target');
      const $target = $(target);

      if (!$target.length)
        return console.error('Invalid target for custom file', $input);

      if (!$target.attr('data-content'))
        return console.error('Invalid `data-content` for custom file target', $input);

      // set original content so we can revert if user deselects file
      if (!$target.attr('data-original-content'))
        $target.attr('data-original-content', $target.attr('data-content'));

      const input = $input.get(0);
      let name = $input.val();

      if (!name)
        name = $target.attr('data-original-content');

      $target.attr('data-content', name);

    });
  </script>
<% end %>