<%= f.fields_for :attachment, Attachment.new, :child_index => "0" do |fattach| %> 
  <div class="form-control-file">
    <div class="custom-file">
      <%= fattach.file_field :data, class: "custom-file-input", "data-toggle": "custom-file", "data-target":"#myfile" %>
      <label id='myfile' class="custom-file-label" for="analysis_attachment_attributes_data">Choose file</label>
    </div>
  </div>
<% end %>

<% content_for :document_ready do %>
  <script>
    // handle custom file inputs
    $('body').on('change', 'input[type="file"][data-toggle="custom-file"]', function (ev) {
      const $input = $(this);
      const target = $input.data('target');
      const $target = $(target);

      if (!$target.length)
        return console.error('Invalid target for custom file', $input);

      if (!$target.text())
        return console.error('Invalid `data-content` for custom file target', $input);

      // set original content so we can revert if user deselects file
      if (!$target.attr('data-original-content'))
        $target.attr('data-original-content', $target.text());

      const input = $input.get(0);
      let name = $input.val();

      if (!name)
        name = $target.attr('data-original-content');

      $target.text(name);

    });
  </script>
<% end %>