<div id="mda-viewer" data-mda="<%= @mda.to_whatsopt_ui_json %>" data-is-editing="true" data-api-key="<%=current_user.api_key%>" data-members="<%= User.with_role(:member, @mda).to_json %>"></div>

<%= javascript_pack_tag 'mda_viewer_application' %>