<div id="mda-viewer" data-mda="<%= @mda.to_mda_viewer_json %>" data-is-editing="true" data-api-key="<%=current_user.api_key%>"></div> 

<script>var API_KEY = "<%=current_user.api_key%>"</script>

<% if Rails.env == 'development' and `hostname` =~ /(wdcps601h)/ %>
  <script src="http://192.168.99.100:3035/packs/mda_viewer_application.js"></script>
<% else %>
  <%= javascript_pack_tag 'mda_viewer_application' %>
<% end%>
 
