<p>
<%= link_to "New Study", new_study_path(project_id: @project) %>
</p>

<p>
<table class="table table-striped">
  <tr>
    <th>#</th>
    <th>Creation Date</th>
    <th>Category</th>
  </tr>
  <% for study in studies %>
    <tr>
      <td><%= link_to "Study ##{study.id}", study_path(study) %></td>
      <td><%= time_ago_in_words(study.created_at) %> ago</td>
      <td><%= study.attachment.category %></td>
    </tr>
  <% end %>
</table>
</p>
