<h1>Studies</h1> 

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Studies</th>
  </tr>
  <% for project in @projects %>
    <tr>
      <td><%= link_to project.name, studies_url(project) %></td>
      <td><%= project.description %></td>
      <td>
      <% for study in project.studies %>
        <%= link_to "Study", study_url(study) %>
      <% end%>
      </td>
    </tr>
  <% end %>
</table>
