<h1>Available Studies</h1> 

<table class="table table-striped">
  <tr>
    <th>Studies</th>
  </tr>
  <% for study in @studies %>
    <tr>
      <td>
        <%= link_to "Study ##{study.id}", study_url(study) %>
      </td>
    </tr>
  <% end %>
</table>
