<h1>Study #<%= @study.id %> from <%= link_to @study.project.name, project_path(@study.project) %></h1>

<div>
  <% if @study.has_notebook? %>
    <%= render :partial => "jupyter_notebook", :locals => {:study => @study } %>
  <% elsif @study.has_openmdao_problem? %>
    <%= render :partial => "openmdao", :locals => {:study => @study } %>
  <% end %>

</div>
