  <div class="card">
    <div class="card-header" role="tab" id="managementHeading">
      <h5 class="mb-0">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseManagement" aria-expanded="false" aria-controls="collapseManagement">
          Management
        </a>
      </h5>
    </div>
    <div id="collapseManagement" class="collapse" role="tabpanel" aria-labelledby="managementHeading">
      <div class="card-block">
				Members, link to corresponding Redmine project
      </div>
    </div>
  </div>
