  <div class="card">
    <div class="card-header" role="tab" id="requirementsHeading">
      <h5 class="mb-0">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseRequirements" aria-expanded="false" aria-controls="collapseRequirements">
          Requirements
        </a>
      </h5>
    </div>
    <div id="collapseRequirements" class="collapse" role="tabpanel" aria-labelledby="requirementsHeading">
      <div class="card-block">
				Link to Gedeon
      </div>
    </div>
  </div>
