<h1>Projects</h1> 

<p>
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th>Name</th>
	      <th>Description</th>
	      <th>Nb of Studies</th>
	    </tr>
	  </thead> 
	
	  <tbody>
			<% @projects.each do |project| %>
				<tr>
					<td><%= link_to project.name, project_url(project) %></td>
					<td><%= project.description %></td>
					<td><%= pluralize(project.studies.count, 'study') %></td>
				</tr>
			<% end %>
	  </tbody>
	</table>
</p>