<h1>Projects</h1> 

<table class="table table-striped" id=>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Nb of Studies</th>
  </tr>
  <% for project in @projects %>
    <tr>
      <td><%= link_to project.name, project_url(project) %></td>
      <td><%= project.description %></td>
      <td>
	<%= pluralize(project.studies.count, 'study') %>
      </td>
    </tr>
  <% end %>
</table>
