<h1>Project <%= @project.name %></h1> 
<div id="accordio" role="tablist" aria-multiselectable="true">
  <div class="card">
    <div class="card-header" role="tab" id="headingOne">
      <h5 class="mb-0">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Requirements
        </a>
      </h5>
    </div>
    <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="card-block">
	Further, cheaper, ...  ---- impacts ---> Process
      </div>
    </div>
  </div>
<!--
  <div class="card">
    <div class="card-header" role="tab" id="headingTwo">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Variables
        </a>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="card-block">
	x, y, z
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingThree">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
	  Components
        </a>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="card-block">
	Discipline list and implementation
      </div>
    </div>
  </div>
-->
  <div class="card">
    <div class="card-header" role="tab" id="headingFour">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
	  Process
        </a>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="card-block">
	Variables, Disciplines, Methods and Workflow :
	--- related to ---> Requirement
        --- implemented by ---> Main Study
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingFive">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
	  Studies
        </a>
      </h5>
    </div>
    <div id="collapseFive" class="collapse in" role="tabpanel" aria-labelledby="headingFive">
      <div class="card-block">
	<table class="table table-striped">
	  <tr>
	    <th>#</th>
	    <th>Creation Date</th>
	    <th>Category</th>
	  </tr>
	  <% for study in @project.studies %>
	  <tr>
	    <td><%= link_to "Study ##{study.id}", study_url(study) %></td>
	    <td><%= distance_of_time_in_words(study.created_at, Time.now) %></td>
	    <td>to be defined</td>
	  </tr>
	  <% end %>
	</table>
      </div>
    </div>
  </div>
</div>

<%= link_to "New Study", new_study_path(project_id: @project) %>
