defaults: &defaults
  enable_remote_operations: true
  enable_wopstore: true
  enable_ldap: false
  restrict_access: false 
  python_cmd:  python
  thrift_cmd:  thrift

development:
  <<: *defaults

test:
  <<: *defaults

production:
  enable_remote_operations: false
  enable_wopstore: false
  enable_ldap: false
  restrict_access: false 
  python_cmd:  python
  thrift_cmd:  thrift

