defaults: &defaults
  enable_remote_operations: true
  enable_geometry_models: true
  enable_ldap: false
  python_cmd:  python
  openvsp_cmd: vspscript
  thrift_cmd:  thrift

development:
  <<: *defaults

test:
  <<: *defaults

production:
  enable_remote_operations: true
  enable_geometry_models: false
  enable_ldap: true
  python_cmd:  python
  openvsp_cmd: vspscript
  thrift_cmd:  thrift

