<p>
<table class="table table-striped">
	<thead>
	  <tr>
	    <th>#</th>
	    <th>Owner</th>
        <th>Creation</th>
        <th>Action(s)</th>
	  </tr>
	</thead>
	
	<tbody>
  <% for geomodel in geomodels %>
    <tr>
      <td><%= link_to geomodel.title, geometry_model_path(geomodel) %></td>
      <td><%= geomodel.owner %></td>
      <td><%= time_ago_in_words(geomodel.updated_at) %> ago</td>
      <td>
        <% if policy(geomodel).destroy? %>
          <%= link_to 'Delete', geomodel, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% else %>
          None
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
</p>


