<%= link_to "Import", new_geometry_model_path, class: "btn btn-primary float-right" %>

<h1>Geometry Models</h1> 

<%= render :partial => 'geometry_models_index', locals: { geomodels: @geomodels } %>
