<h1>Geometry Models</h1> 

<p>
  <%= link_to "Import Geometry Model", new_geometry_model_path, class: "btn btn-primary" %>
</p>

<%= render :partial => 'geometry_models_index', locals: { geomodels: @geomodels } %>
