<h1>Editing Multi Disciplinary Analysis</h1>

<%= render 'form', multi_disciplinary_analysis: @multi_disciplinary_analysis %>

<%= link_to 'Show', @multi_disciplinary_analysis %> |
<%= link_to 'Back', multi_disciplinary_analyses_path %>
