<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @multi_disciplinary_analysis.name %>
</p>

<%= link_to 'Edit', edit_multi_disciplinary_analysis_path(@multi_disciplinary_analysis) %> |
<%= link_to 'Back', multi_disciplinary_analyses_path %>
