<h1><%= "FAST-OAD Conf. #{@fastoad_config.name}" %></h1>

<table class="table table-striped">
<thead>
<tr>
    <th style="10%">Name</th>
    <th style="10%">Version</th>
    <th style="20%">FAST-OAD Id</th>
</tr>
</thead>

<tbody>
  <% @fastoad_config.modules.each do |mod| %>
  <tr>
    <td><%= mod.name %></td>
    <td><%= mod.version %></td>
    <td><%= mod.fastoad_id %></td>
  </tr>
  <% end %>
</tbody>
</table>
