<div class="btn-toolbar float-right">
  <%= link_to 'New', new_design_project_path, class: "btn btn-primary ml-2" %>
</div>

<h1>Design Projects</h1>

<p>
<table class="table table-striped">

  <thead>
    <tr>
      <th class="col-md-2">Name</th>
    </tr>
  </thead>

  <tbody>
    <% @design_projects.each do |design| %>
    <tr>
      <td><%= design.name %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</p>