<h1>Runs</h1> 

<table class="table table-striped" id="runs">
  <tr>
    <th>#</th>
    <th>Creation Date</th>
  </tr>
  <% for run in @runs %>
    <tr>
      <td><%= #{run.id} %></td>
      <td><%= distance_of_time_in_words(run.created_at, Time.now) %></td>
    </tr>
  <% end %>
</table>
