/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */
//= require actiontext
//= require swagger-ui-react/swagger-ui

@import "bootstrap";
@import "font_awesome5_webfont";
@import "xdsmjs";
@import "mda_viewer";
@import "react-bootstrap-typeahead/Typeahead";
@import "react-bootstrap-typeahead/Typeahead-bs4";

html {
  height: 100%;
}

body {
  padding-top: 50px;
  padding-bottom: 20px;
  height: 100%;
}

.main-container {
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 100%;
  position: relative;
}

/* flash messages */
div.field_with_errors {
  display: inline;
}

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

.footer {
  text-align: right;
  padding-right: 5px;
}

/* login page */
.absolute-center {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.absolute-center.is-responsive {
  width: 50%;
  height: 50%;
  min-width: 200px;
  max-width: 400px;
  padding: 40px;
}

/* file browser */
.custom-file-control::after {
  content: "Choose file...";
}

.custom-file-control::before {
  content: "Browse";
}

// support custom file inputs
.custom-file-name::after {
  content: attr(data-content) !important;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  overflow: hidden;
  padding: 0.5rem 1rem;
}

/* Override default xdsmjs css */
.xdsm .driver {
  fill: #ccf;
  stroke: black;
  stroke-width: 1px;
  visibility: visible;
}

.xdsm2 .driver {
  fill: #ccf;
  stroke: black;
  stroke-width: 1px;
  visibility: visible;
}
