/* Excel-like list of variables */
table.connections td {
  padding: 2px;
}
table.connections {
  table-layout: fixed;
}

/* React table cell: give clickable widthxheight when the cell is empty*/
.editable-react-table-cell {
  background-color: #f0f8e0;
}

span.react-table-cell {
  min-height: 24px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
input.react-table-cell {
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* Operation logs */
.listing {
  padding: 10px;
  color: silver;
  background-color: black;
  border-radius: 10px;
  font-family: "Courier New", monospace;
    white-space: pre;
}

.listing-line {
  padding: 0;
}

/* Analysis editor */
div.mda-section {
  margin-top: 0;
}

div.editor-section {
  margin-top: 10px;
}

div.editor-section-label {
  margin:10px 0 10px 0;
}

.text-inactive {
  font-style: italic;
  color: lightgray;
}

/* Discipline Editor */
div.editor-discipline {
  margin-top: 5px;
}

/* XDSM tooltip */
.tooltip-inner {
  max-width: 300px; /* set this to your maximum fitting width */
  width: inherit;   /* will take up least amount of space */ 
}

/* XDSM sub-analysis link */
a.analysis-link {
  font-style: italic;
}

/* Analysis BreadCrumbs*/
.breadcrumb {
  background: #fff;
  padding: 10px 15px 2px 15px !important;
  font-size: 12px;
}

/* Prevent from modal shift due to scrollbar */
body.modal-open {
  width: 100% !important;
  padding-right: 0 !important;
  overflow-y: scroll !important;
  position: fixed !important;
}

/* modal backdrop fix for distribution modals */
.modal:nth-of-type(even) {
  z-index: 1052 !important;
}

.modal-backdrop.show:nth-of-type(odd) {
  z-index: 1051 !important;
}

/* scroll in modal */
.distribution-list-modal .modal-dialog {
  overflow-y: initial !important;
}

.distribution-list-modal .modal-body {
  height: 400px;
  overflow-y: auto;
}
