table.connections td {
	padding: 0px;
	width: 150px;
}

svg text {
	font-size: small;
}

.listing {
	padding: 10px;
	color: silver;
	background-color: black;
	border-radius: 10px;
}

.listing-line {
	padding: 0px;
}

div.mda-section {
	margin-top:10px;
}

div.editor-section {
	margin-top:10px;
}

div.editor-discipline {
	margin-left:20px;
	margin-top:5px;
}

.tooltip-inner {
  max-width: 300px; /* set this to your maximum fitting width */
  width: inherit; /* will take up least amount of space */ 
}
