<% flash_messages.each do |key, message| %>
  <div class="alert <%= bootstrap_class_for key %>" role="alert">
    <a href="#" data-dismiss="alert" class="close">×</a>
    <%= message %>
  </div>
<% end %>
  
