<% flash_messages.each do |key, message| %>
  <div class="alert <%= bootstrap_class_for key %>">
    <a href="#" data-dismiss="alert" class="close">×</a>
    <ul>
      <li>
        <%= message %>
      </li>
    </ul>
  </div>
<% end %>
  
