<h1>Plot</h1>

<div id="plotter" data-plotting="<%= @operation %>" data-api-key="<%=current_user.api_key%>"></div> 

<script>var API_KEY = "<%=current_user.api_key%>"</script>

<% if Rails.env == 'development' %>
  <% if `hostname` =~ /(rdri206h)/ %>
    <script src="http://rdri206h:8080/packs/plotter_application.js"></script>
    <!-- <script src="http://127.0.0.1:8080/packs/plotter_application.js"></script> -->
  <% elsif `hostname` =~ /(endymion)/%>
    <script src="http://endymion:8081/packs/plotter_application.js"></script>
    <!-- <script src="http://127.0.0.1:8080/packs/plotter_application.js"></script> -->
  <% else %>
    <script src="http://192.168.99.100:8081/packs/plotter_application.js"></script>
  <% end %>    
<% else %>
  <%= javascript_pack_tag 'plotter_application' %>
<% end%>

